<h1>Home#index</h1>

<p>Understand your expenses:
	<ol>
		<li><%= link_to 'Upload your expenses', select_expenses_path %></li>
		<li><%= link_to 'Sort your expenses', next_to_sort_expenses_path %></li>
	</ol>
</p>

<p>Consult your data:
	<ul>
		<li>See all expenses: <%= link_to 'Expenses', expenses_path %></li>
		<li>See all categories: <%= link_to 'Categories', categories_path %></li>
	</ul>
</p>