<h1>Home#index</h1>
<p>See all expenses: <%= link_to 'Expenses', expenses_path %></p>
<p>Upload expenses: <%= link_to 'Upload', select_expenses_path %></p>
<p>See all categories: <%= link_to 'Categories', categories_path %></p>
