<h1>Categories statistics</h1>

<%= link_to 'Next expense to sort', next_to_sort_expenses_path %>

<table id="statistics" >
	<thead>
		<tr><th></th><% @categories.each do |category| %>
			<th><%= category.name %></th>
		<% end %></tr>
	</thead>

	<tbody><% @statistics.each do |month_name, month_stats| %>
		<tr>
			<th><%= month_name %></th>
			<% month_stats.each do |category_name, category_stats| %><td>
				<%= category_stats.to_i %>
			</td><% end %>
		</tr>
	<% end %></tbody>
</table>
