<ol class="nav navbar-nav">
	<li><%= link_to 'Upload', select_expenses_path %></li>
	<li><%= link_to 'Sort', next_to_sort_expenses_path %></li>
	<li><%= link_to 'Visualize', statistics_categories_path %></li>
</ol>